/** main code **/

 @import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

@keyframes move{
    from{
        transform: scale(0.7);
    }
    to{
        transform: scale(1);
    }
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: 'cairo','Jost';
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
 
}

:root {
	--bg-color: #ffff;
	--text-color: #000;
	--secound-color: #a09dab;
	--main-color: #d1331f;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
 --shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
}

::-webkit-scrollbar{
    width: 0;
}



body{
	background: var(--bg-color);
	color: var(--text-color);
}

span{
	color: var(--main-color);         
}


.btn{
 width: 500px;
 text-align: center;
padding: 8px 10px;
	color: white;
	background-color: var(--main-color);
	border-radius: 30px;
	margin-top: 10px;
cursor: pointer;
}

/** header **/

header.sticky{
	background: var(--bg-color);
	padding: 13px 18%;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/** home **/

section{
	padding: 100px 18%;
}
.home{
	min-height: 100vh;
	height: 100%;
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	grid-gap: 4rem;
}

.home-text h1{
	margin: 10px 0px 25px;
	font-size: var(--big-font);
	line-height: 1;
	font-weight: bold;
}

.home-text h5{
	margin-bottom: 23px;
	font-size: 19px;
	font-weight: 500;          


}

.home-text h3{
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;            


}
.home-text p{
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
	margin-bottom: 20px;           


}
.social a{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--main-color);
	font-size: 17px;
	color: var(--bg-color);
	margin-right: 22px;
	margin-bottom: 30px;   
animation: 0.9s move;

}
.social a:hover{
	transform: scale(1.1);
	background: var(--main-color);
	transition: .5s;
}



/** about **/

.about{
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	align-items: center;
	grid-gap: 2rem;
}
.about-img img{
	max-width: 100%;
	width: 500px;
	height: auto;
    z-index: 1000;
	border-radius: 30px;
}
.about-text h2{
	font-size: var(--h2-font);
	font-weight: 500;
	margin: 8px 0px 25px;
	line-height: 1.1;
}
.about-text h3{
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}
.about-text p{
	max-width: 550px;
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
	margin-bottom: 45px;
}

.heading{
	text-align: center;
}
.heading h2{
	font-size: var(--h2-font);
	font-weight: 500;
	margin: 7px 0px 20px;
	line-height: 1.1;
}
.heading h3{
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}
.heading p{
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
}

/** works **/

.works-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	text-align: center;
	width: 100%;
	align-items: center;
	justify-content: center;
 padding: 10px 20px;
}
.works .col{
	position: relative;
	box-shadow: 8px 0px 8px 0px rgba(0,0,0,0.2);
	border-radius: 20px;
	height: 200px;

	align-self: center;


}
.works .col img{
	height: 100%;
	width: 100%;
	object-fit: cover;
		border-radius: 30px;
}
.layer{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 30px;
	transition: all .40s;
}
.layer:hover{
	background: linear-gradient(rgba(0,0,0,0.5) 0%, var(--main-color));
}
.layer h3{
	position: absolute;
	width: 100%;
	font-size: 25px;
	font-weight: 500;
	color: var(--bg-color);
	bottom: 0;
	left: 50%;
    padding: 30px;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .40s;
}
.layer:hover h3{
	bottom: 52%;
	opacity: 1;
}

.layer h5{
	position: absolute;
	width: 100%;
	font-size:17px;
	font-weight: 500;
	color: var(--bg-color);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .40s;
	cursor: text;
}
.layer:hover h5{
	bottom: 48%;
	opacity: 1;
	cursor: text;
}

/** OUR SERVICES **/

.service-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 10%));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	justify-content: center;
}

/** row style **/

.row{
 width: 100%;
	background: #ffffff;
	box-shadow: var(--shadow);
	border-radius: 30px;
	padding: 45px 45px 45px 45px;
	transition: ease .45s;
}


.row h3{
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 2px;
}
.row h5{
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 19px;
	cursor: text;
}
.row p{
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
	cursor: text;
}

.row:hover{
	will-change: transform;
	transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}

/** courses **/


.courses-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 10%));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	justify-content: center;
}

.courses-container .row{
	padding-top: 10px;
 padding-left: 10px;
 padding-right: 10px;
}

.courses-container .row img{
 width: 100%;
	box-shadow: var(--shadow);
 border-radius: 30px; 
}

.courses-footer{
 width: 100%;
 display: flex;
 align-items: center;
 padding: 10px 0;
 
}
.courses-container .row:hover{

}

/** contact **/


.contact{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 8%;
}
.contact .contact-row{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}
.contact-row section.col{
	display: flex;
	flex-direction: column;
}
.contact-row section.left{
	flex-basis: 35%;
	min-width: 320px;
	margin-right: 60px;
}
.contact-row section.right{
	flex-basis: 60%;
}
section.left .contactTitle h2{
	position: relative;
	font-size: 28px;
	color: black;
	display: inline-block;
	margin-bottom: 25px;
}
section.left .contactTitle h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	background-color: #888;
	top: 120%;
	left: 0;
}
section.left .contactTitle h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	background-color:  var(--main-color);
	top: calc(120% - 1px);
	left: 0;
}
section.left .contactTitle p{
	font-size: 17px;
	color: black;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-bottom: 22px;
}
section.left .contactInfo{
	margin-bottom: 16px;
}
.contactInfo .iconGroup{
	display: flex;
	align-items: center;
	margin: 25px 0px;
}
.iconGroup .icon{
	width: 45px;
	height: 45px;
	border: 2px solid  var(--main-color);
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
}
.iconGroup .icon i{
	font-size: 20px;
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.iconGroup .details span{
	display: block;
	color: black;
	font-size: 18px;
}
.iconGroup .details span:nth-child(1){
	text-transform: uppercase;
	color: #ccc;
}
section.left .social{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 22px 0px 20px;
}




@media(max-width: 1100px){
	.messageForm .halfWidth{
		flex-basis: 100%;
	}
}
@media(max-width: 900px){
	.contact .contact-row{
		flex-wrap: wrap;
	}
	.contact-row section.left, .contact-row section.right{
		flex-basis: 100%;
		margin: 0px;
	}
}

/** footer **/


/** responsive **/

@media (max-width: 1425px){
	header{
		padding: 16px 3%;
		transition: .3s;
	}
	header.sticky{
		padding: 10px 3%;
		transition: .3s;
	}
	section{
		padding: 70px 3%;
		transition: .3s;
	}
	
	:root{
		--big-font: 4rem;
		--h2-font: 2.3rem;
		--p-font: 1rem;
		transition: .3s;
	}
	

	
    
}

@media (max-width: 970px){
	
	.home{
		min-height: 80vh;
	}

	

	
}

@media (max-width: 800px){
	
 .home{
		grid-template-columns: 1fr;
		min-height: 130vh;
		grid-gap: 1rem;
 }
	.home-text{
		padding-top: 55px;
	}
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
		margin-bottom: 30px;
	}
	:root{
		--big-font: 3.4rem;
		--h2-font: 2rem;
	}
	

	section{
		padding: 65px 3%;
		transition: .3s;
	}

}

/** dark style **/
@media (prefers-color-scheme: dark){
	:root {
	--bg-color: #000;
	--text-color: #fff;
	--secound-color: #a09dab;
	--main-color: #d1331f;
	}
 .row{
	background: #000;
	box-shadow: 18px 0px 87px 0px rgb(255 255 255 /20%);
	}
	.logo img{
filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(13deg) brightness(109%) contrast(110%);
	}
	header.sticky{
	 box-shadow: 0px 0px 10px rgb(255 255 255 / 50%);
	}

.social a{
color: white;
}
}
